body{
    margin:0;
    padding: 0;
    text-align: center;
    /* background: linear-gradient(rgba(0,0,50,.5),rgba(0,0,50,.5)),url(../images/b1.JPG);
    background-size:cover;
    background-position: center; */
}
.container{
    margin-top: 10%;
    background: linear-gradient(rgba(0,0,50,.5),rgba(0,0,50,.5)),url(../images/b1.JPG);
    background-size:cover;
    background-position: center;
}